body {
  text-align: center;
  background-image: url("http://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_go/169.jpg");
  background-size: 100vw 100vh;
  font-family: 'Luckiest Guy', cursive;
}

h1 {
  font-size: 60px;
  padding: 20px;
}

img {
  height: auto;
  width: 10vw;
}

input, button {
  font-family: 'Luckiest Guy', cursive;
  font-size: 25px;
  padding: 10px;
}

.container {
  min-height: 70vh;
  width: 50vw;
  background-color: rgba(13, 135, 98, 0.8);
  margin: auto;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.item {
  margin: 20px;
  border: 2px solid #000;
}
